:root {
    --main_color: #FFFFFF;
    --secondary-color: #08A6E4;
    --main-font-color: #000000;
    --secondary-font-color: #A5A5A5;
    --main-bg-color: #FFFFFF;
    --secondary-bg-color: #F7F7F7;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'Raleway', sans-serif;
    /*font-family: 'Raleway', sans-serif;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1352px;

}

.header {
    max-width: 1352px;
    position: sticky;
}

.nav {
    box-shadow: 0px 3px 6px #00000029;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 70px;

}

.container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 36px;
    /*margin-top: 16px;*/
    height: 70px;
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
    color: var(--secondary-color);

}

.nav_menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;
    /*padding: 1em 1em;*/
    font-size: 15px;
    color: var(--secondary-font-color);
    letter-spacing: 3.28px;
    margin-left: 2em;
}

/*co zrobić aby border się zaznaczał */
.nav .nav__menu__item:hover {
    color: var(--main-font-color);
    border-bottom: 4px solid #08A6E4;

}

/*Section section_opening*/

.main {
    max-width: 1352px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section_opening {
    display: flex;
    height: 712px;
    width: 1352px;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin-top: 130px;
    background: url("../images/Background.png");
    background-position: bottom;
    background-repeat: no-repeat;
    color: var(--main-font-color);
}

.title_section_opening {

    font-size: 57px;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 0.5em;
}

.paragraph_section_opening {
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 1.5em;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 440px;
    height: 67px;
    background-color: var(--secondary-color);
    border-radius: 50px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: var(--main_color);
    font-weight: bold;
}

/*section_stats*/

.title_section_stats {
    display: flex;
    margin-top: 100px;
    justify-content:center;
    align-items: center;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    color: var(--main-font-color);
}

.articles_section_stats{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;

}

.article_image {
    display: flex;
    justify-content: center;
    align-items: center;

}

.article_circle_red{
    position: absolute;
    margin: 0;
    height: 61.71px;
    width: 61.72px;
    background: #FB3B64;
    border-radius: 50px;
    z-index: -1;

}
.article_circle_blue{
    position: absolute;
    margin: 0;
    height: 61.71px;
    width: 61.72px;
    background: #08A6E4;
    border-radius: 50px;
    z-index: -1;

}

.article_circle_green{
    position: absolute;
    margin: 0;
    height: 61.71px;
    width: 61.72px;
    background: #55DFB4;
    border-radius: 50px;
    z-index: -1;

}

.article_picture {
    position:relative;
    z-index: 1;
    margin-left: 31px;
    margin-bottom: 10px;
}

.article_numbers {
    margin-top: 14.16px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5.96px;
    color: var(--main-font-color);

}

.article_content{
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color: var(--secondary-font-color);
    margin-top: 19.11px;
    margin-bottom: 149px;
}